name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          
      - name: Install dependencies
        run: npm install

      - name: Run backend script (server.js)
        run: node server.js

      - name: Run frontend script (React.js)
        run: node React.js
      - name: Build site
        run: npm run build # Or your build command

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: ./path-to-built-files # Replace with your actual build output directory

      - name: Save build output
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./public   
