name: Deploy Website

on:
  workflow_run:
    workflows: ["Node.js CI"]   # MUST match CI.yml name
    types:
      - completed

permissions:
  contents: write

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}   # only if CI succeeded
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./       # your website root
          publish_branch: gh-pages
